<!Doctype html>
<html>
    <head>
    <title>Hair Oil</title>
        <style>
body{
background-image: url('/static/images/rose.jpg');
}
#joke{
    text-decoration:underline;
}
.centered-image {
    text-align: center;
}
.centered-image img {
    display: inline-block;

            </style>
    </head> 
    <body>
        <a href=""link.html">webpage@</a>
        <image src="'/static/image/before.jpg">;
        <div class="centered-image" style='background-image:url("rose2.jpg")'> 
        <img src="rose.jpg">
        </div>
        <br>
        <h1 align="center"> THE HAIR OIL </h1>
        <h3 align="center"> The Hair oil products </h3>
       <br>
    </body>
<p> 
    <P style="color: #A52A2A;"> INDRODUCTION </P>
    <P> Hair oils are used all over the world since time immemorial, however their exact effect on the hair and scalp remains obscure.A wide variety of oils have been used and newer ones are coming uo everyday.Hair treatments generally refer to any means of managing common hair related problems such as hair fall,dryness,dandruff and frizzy hair. </P>
    <p>The treatments vary in terms of the problem you are suffering from because different ingredients and elements are required to tackle them.Hair oils can enhance the hair's natural shine,giving it a health and lustrous appearance.It reflects light,making the hair appear smoother and more radiant.The oils smooth the hair cuticles, reducing the chances of frizz caused by humidity.Added shine: "Hair oils can enhance the hair's natural shine,giving it a healthy look".It reflects light, making the hair appear smoother and more radiant.</P>
    <p> 
        <p style="color: #A52A2A;"> Benefits of oiling hair: </p>
    <p> Oils play an important role in protecting hair from regular wear and tear.Oiling hair regularly reduces the swelling and drying of hair.Oils protect the follicle from surfactants by filling the gap between curicle cells.When you gently massage the scalp it helps in exfoliation and sometimes that helps in reducing hair fall.It's most beneficial when the oil is left in the hair overnight. </p>
    <p >
        <p style="color: #A52A2A;"> Dandruff: </p>
    <p> It is among the most common hair problems for men,but can also affect women.This condition can be caused by fungul infections dry scalp due to cold weather or low humidity,oily scalp, as well as skin conditions and hormonal changes. HOW TO FIX IT: To prevent dandruff it's important to maintain good scalp hygiene by washing your hair regularly with a gentle conditioner and apply oil to avoid dryness </p> 
    
    <p style="color:#A52A2A;"> Typesof oil and best oil for each: </p>
<ul>
    <li> Dry scalp: lemongrass oil </li>
    <li> Hair loss, Dry hair: almond oil </li>
    <li> Damage hair: coconut Oil </li>
</ul>

    <p style="color:#A52A2A;"> Almont oil </p>
    <p> It has emollient property and hence can be used to soften and moisturize dry hair.Chemical composition It consist of monosatured fatty acid,polyunsaturated fatty acid, it is also a rich source of vitamin E.</p>
    <p style="color:#A52A2A;"> Coconut oil </p>
    Is a good sponification agent and so has been used in shampoos.
    Chemical composition It consists of saturated fatty acids and is one of the richest sources of medium chain fatty acids.
    Coconut oil forms a coating over the hair shaft,there by sealing the cuticle and traps the moisture.
    </p>
    <p> Use it in the shower before you conditioner, apply a dollop of oil to the ends of wet hair.It will minimize the appear of split ends and make dry ends feel softer.After a minute the oil will soak into your hair,and since you're following with conditioner your hair won't be left with a greasy flim.</p>
    <p stYle="color:#A52A2A;"> FOLLOW THE STEPS TO GIVE HAIR OILING A TRY </p>
    <ol>
    <li> Apply oil on your scalp and massage with fingerprint using a circular motion. </li>
    <li> APPLY the oil left on your palms to your hair. </li>
    <li> Cover with a towel or shower cap and leave on overnight. </li>
    <li> The next day, shampoo hair while dry.Rinse thoroughly. </li>
    <li> Condition as normal,you can also use coconut oil as a conditioner.</li>
    </ol>
        <p style="color:#A52A2A;"> OILS ARE NEEDED:</p>
        <ul>
        <li> Protect the Hair </li>
        <li> Treat dandruff and scalp problems </li>
        </ul>
    </p>
<p style="color:#A52A2A;"> REQUIREMENTS OF HAIR OIL PRODUCTS: </p>
    <ol>
    <li> It should not cause any side-effects/ irriation to skin. </li>
    <li> It should not make the hand rough and chapped. </li>
    <li> It should leave the hair non-dry. </li> 
    <li> It should impart a pleasant fragnance to the hair. </li>
    <li> It should be removed by water and conditioner. </li>
    </ol>
    <p>
     <p style="color:#A52A2A;"> MAIN INGREDIENTS </p>
     <ul>
     <li> Mineral and vegetable oils are used to make a variety of commercial and traditional hair oil.</li>
     <li> Natural oils are used more commonly as cosmetic products on the scalp.</li>
    </ul>
    </p>
    
</p>
<footer>
    <h2> @ Copyright 2023 | Hair Oil Product </h2>
    </footer>
    </body>
</html>
